body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3a57c7;
}
p{
    line-height: 2;
    margin: 10px 20px;
    font-size: 20px;
    font-weight: bold;

}
nav{
background-color:#333;

}
nav ul{
list-style: none;
margin:auto ;
padding:auto ;
display: flex;
justify-content: center;
gap: 30px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #1d65a9;
}
nav ul li a:hover{
    text-decoration: underline;
}
img{
    display: block;
    margin: 20px auto;
    max-width: 500px;
    border-radius: 70px;
}
section{
    background-color:#ffffff;
    padding: 20px;
    margin: 20px;
border-radius: 100px;
box-shadow:  0 100px rgb(44, 60, 110);

}
ul{
    list-style: none;
    padding: 0;
    margin: 30px auto;
    max-width: 400px;
    text-align: left;
}
ul li {
    background-color: #e0e0e0;
    margin-bottom: 10px;
padding: 10px;
border-radius: 18px;
font-weight: bold;
}
form{
max-width: 400px;
margin: 40px auto;
background-color: #fff;
padding: 20px;
border-radius: 30px;
box-shadow: 0px 0px 0px 8px  rgb(44, 60, 110) ;

}
form label{
display:block;
margin-bottom: 5px;
font-weight:bold;

}
form input ,form textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid;
    font-size: 16px;
}
form button {
    background-color:slategray;
    color: wheat;
    padding: 10px 15px;
    border:none;
    border-radius: 5px;
    font-size: 16px;
    cursor:pointer;
}
form button:hover{
    background-color: #0818a8;
}
footer{
text-align: center;
padding: 10px;
background-color: #333;
color: white;
margin-top: 50px;
font-size: 20px;

}