body.dark {
  background-color: #1f1f1f;
  color: #f5f5f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  padding: 60px 20px;
  max-width: 600px;
  margin: auto;
}

.Html{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #555;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #ccc;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.custom-list {
  text-align: right;
  margin: 20px auto;
  max-width: 500px;
  padding-right: 20px;
}

.custom-list li {
  margin-bottom: 12px;
  font-size: 16px;
  color: #ddd;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 30px auto;
  max-width: 500px;
}

.skill-box {
  background-color: #2a2a2a;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  text-align: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: 30px auto;
  text-align: right;
}

.contact-form label {
  color: #ccc;
  font-size: 15px;
  margin-bottom: -5px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  background-color: #2d2d2d;
  color: white;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: 2px solid #007bff;
}